<?xml version="1.0" encoding="utf-8"?>
{% extends "base.html" %}
{% block content %}
<section id="content">
  {% block content_title %}

  {% endblock %}

  <div class="row">
	{% for article in articles_page.object_list %}
    <div class=article-overview>
      <div class=date>{{ article.locale_date }}</div>
      <div class=detail>
        <h1><a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
        {% if article.summary %}
        <div class=summary>{{ article.summary }}</div>
        {% endif %}
      </div>

      <!-- tags list -->
      {% if article.tags %}
	  <div class="tags">
        {% for tag in article.tags %}
        <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
	{% endfor %}
  </div><!-- /.row -->

  {% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
